<div
  class="professionals-container background_style_sombre w-full h-full overflow-y-auto"
>
  <div
    class="w-full h-full flex flex-wrap justify-evenly pt-12 pl-[2.5vw] pr-[2.5vw]"
  >
    <h1 class="text-2xl">Annuaire des professionnels</h1>
    <div
      class="!border-2 !border-[#034963] !bg-[#7a3d0111] w-[90vw] h-fit my-[4vh] rounded-md flex flex-wrap justify-center items-center"
    >
      <mat-form-field class="m-2">

        <mat-label>Activité</mat-label>
        <input type="text"
               placeholder="Choisir"
               aria-label="Activité"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto"
               (input)="onInputChange($event)">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
          @for (jobEnumValue of filteredJobs | async; track jobEnumValue) {
            <mat-option [value]="jobEnumValue">{{
                jobEnumValue
              }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="m-2">
        <mat-label>Région</mat-label>
        <mat-select [(value)]="regionSelected">
          <mat-option>None</mat-option>

          @for (regionEnumValue of regionEnumValues; track $index) {
            <mat-option value="{{ regionEnumValue }}">{{
                regionEnumValue
              }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

    </div>
    <div class="w-full h-fit flex flex-wrap justify-center gap-[4vw]">
      @for (customer of customers; track $index) {
        @if ((!jobSelected || customer.jobTitle.includes((jobSelected))) &&
        (!regionSelected || customer.regions.includes(regionSelected))) {
          <mat-card
            class="professional-card basis-[35%] flex-shrink-0 flex-grow-0 h-[60vh] p-2 flex flex-wrap justify-items-center items-center !border-2 !border-[#034963] !bg-[#7a3d0111] rounded-lg"
          >
            <mat-card-header class="h-[15%]">
              <img
                [src]="customer.profilePicture"
                alt="{{ customer.firstName }}"
                class="profile-img"
              />
            </mat-card-header>
            <mat-card-content
              class="flex flex-wrap justify-items-center items-center h-[80%]"
            >
              <mat-card-title class="w-full text-center">{{ customer.firstName }}{{ " " }}{{ customer.lastName }}
              </mat-card-title>
              <mat-card-subtitle class="text-center">
                @for (jobTitle of customer.jobTitle; track $index) {
                  {{ getMetierDisplay(jobTitle, customer.sexe) }}
                  <ng-template [ngIf]="$index < customer.jobTitle.length - 1">,</ng-template>
                }</mat-card-subtitle>
              <p class="text-sm">
                @for (region of customer.regions; track $index) {
                  {{ region }}
                  <ng-template [ngIf]="$index < customer.regions.length - 1">,</ng-template>
                }</p>
            </mat-card-content>
            <mat-card-footer class="flex flex-nowrap h-[5%]">
              <a [href]="'mailto:' + customer.email">
                <mat-icon aria-label="Mail icon" fontIcon="mail"></mat-icon>
              </a>
              <p class="text-[0.75rem] ml-2 pt-1">{{ customer.email }}</p>

            </mat-card-footer>
          </mat-card>
        }
      }
    </div>
  </div>
</div>
