<!--<div
  class="professionals-container background_style_sombre w-full h-full overflow-y-auto"
>
  <div
    class="h-fit flex flex-wrap justify-evenly pt-40 pb-24 pl-[2.5vw] pr-[2.5vw]"
  >
    <h1 class="text-2xl">Annuaire des professionnels</h1>
    <div
      class="w-[90vw] h-fit my-[4vh] rounded-md flex flex-wrap justify-center items-center"
    >
      <mat-form-field class="m-2">
        <mat-label>Activité</mat-label>
        <input
          type="text"
          placeholder="Choisir"
          aria-label="Activité"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
          (input)="onInputChange($event)"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onOptionSelected($event)"
        >
          @for (jobEnumValue of filteredJobs | async; track jobEnumValue) {
            <mat-option [value]="jobEnumValue">{{ jobEnumValue }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="m-2">
        <mat-label>Région</mat-label>
        <mat-select [(value)]="regionSelected">
          <mat-option>None</mat-option>

          @for (regionEnumValue of regionEnumValues; track $index) {
            <mat-option value="{{ regionEnumValue }}"
              >{{ regionEnumValue }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="w-full h-fit flex flex-wrap justify-center gap-[4vw]">
      @for (customer of customers; track $index) {
        @if (
          (!jobSelected || customer.jobTitle.includes(jobSelected)) &&
          (!regionSelected || customer.regions.includes(regionSelected))
        ) {
          <mat-card
            class="professional-card basis-[35%] flex-shrink-0 flex-grow-0 h-[60vh] p-2 flex flex-wrap justify-items-center items-center !border-4 !border-[#edf4f7] !bg-[#130e06] !rounded-[20px]"
          >
            <div class="h-[20%] w-full flex flex-nowrap justify-between">
              <div class="w-1/4 flex flex-row">
                <a [href]="'mailto:' + customer.email">
                  <mat-icon
                    aria-label="Mail icon"
                    fontIcon="mail"
                    [matTooltip]="customer.email"
                  ></mat-icon>
                </a>
              </div>
              <img
                [src]="customer.profilePicture"
                alt="{{ customer.firstName }}"
                class="profile-img"
              />
              <div class="w-1/4 flex flex-row-reverse">
                <app-icons-card
                  [isLongTimeAdopter]="customer.isLongTimeAdopter"
                  [isPremium]="customer.isPremium"
                />
              </div>
            </div>
            <mat-card-content
              class="flex flex-wrap justify-items-center items-center h-[75%] w-full"
            >
              <mat-card-title class="w-full text-center"
                >{{ customer.firstName }}{{ " " }}{{ customer.lastName }}
              </mat-card-title>
              <mat-card-subtitle
                class="h-[12%] flex flex-wrap justify-start items-start"
              >
                <p class="text-center h-full text-[1.1vw] leading-4">
                  @for (jobTitle of customer.jobTitle; track $index) {
                    {{ getMetierDisplay(jobTitle, customer.sexe) }}
                    <ng-template [ngIf]="$index < customer.jobTitle.length - 1"
                      >,
                    </ng-template>
                  }
                </p>
              </mat-card-subtitle>
              <mat-card-subtitle class="h-[40%]">
                <p
                  class="text-center h-[50%] flex flex-nowrap justify-center w-full text-[1vw]"
                >
                  @for (region of customer.regions; track $index) {
                    {{ region }}
                    <ng-template [ngIf]="$index < customer.regions.length - 1"
                      >,
                    </ng-template>
                  }
                </p>
                <p class="text-sm">
                  lorem ipsum toto tata titi tutu tete, lorem ipsum toto tata
                  titi tutu tete, lorem ipsum toto tata, lorem ipsum toto tata
                  titi tutu tete, lorem ipsum toto tata titi tutu tete
                </p>
              </mat-card-subtitle>
              <img
                alt=""
                [src]="projects[0].image"
                class="w-full h-[30%] object-cover mt-4"
              />
              <figcaption class="text-sm font-bold">
                {{ projects[0].type }}
              </figcaption>
              <figcaption class="text-sm">
                {{ projects[0].name }}{{ ", " }}{{ projects[0].year }}
              </figcaption>
            </mat-card-content>
          </mat-card>
        }
      }
    </div>
  </div>
</div>
-->
